<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

<mapper namespace="org.cg.persistence.StoreDAO">

<select id="getlist" parameterType="org.cg.domain.StoreVO" resultType="org.cg.domain.StoreVO" >

<![CDATA[
select * from tbl_store where lng>'${lng}'-0.03 and lng<'${lng}'+0.03 and lat<'${lat}'+0.03 and lat>'${lat}'-0.03 
	]]>
</select>


<select id="getadlist" resultType="org.cg.domain.StoreVO">
select * from tbl_store
</select>
	
</mapper>
